# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.firebase/hosting.cHVibGlj.cache
public/assets/4-small-Dl1zRJyK.png
public/assets/background-BF0zYYBx.jpg
public/assets/brainwave-DiHc0I3q.svg
public/assets/coins-BpMsvKTd.png
public/assets/curve-DplsLMf8.png
public/assets/framer-DIttm_fk.png
public/assets/gradient-BMjsV91j.png
public/assets/grid-coKqRXJ5.png
public/assets/hero-background-DUbyVUlq.jpg
public/assets/hero-CRNpLEAx.png
public/assets/image-1-B6mpP7Mo.png
public/assets/image-1-BL_C2sN6.png
public/assets/image-2-C8poHMFX.png
public/assets/image-2-DhSZK1Xt.png
public/assets/image-3-DL8wGSR2.png
public/assets/image-4-Cbi5cq1J.png
public/assets/index-B-wsZ9MI.js
public/assets/index-CzosDB0C.js
public/assets/index-DjXPB9CV.css
public/assets/index-DT8O3V6m.js
public/assets/index-Dz4JSo9O.css
public/assets/loading-CllQEGx_.png
public/assets/logo_icon-B1dlm1su.png
public/assets/protopie-R4iJxyNF.png
public/assets/robot-idimR07Z.jpg
public/assets/service-1-bvSONSha.png
public/assets/service-2-C-pPDQl7.png
public/assets/service-3-CruucQ7U.png
public/assets/yourlogo-sUNkiD-3.svg
public/index.html
